#container {
    width: 100%;
    height: 97vh;
    border: 2px solid green;
  }
  
  .rangeSlider {
    width: 50%;
    border: 2px solid red;
  }
  
  .mySlider {
      -webkit-appearance: none;
      background: pink;
      width: 50%;
      height: 20px;
      opacity: 1;
     }
  
  .mySlider:hover {
      opacity: 0.8;
  }
  
  .mySlider::-webkit-slider-thumb { 
      -webkit-appearance: none; 
      cursor: pointer; 
      background: #34495E  ; 
      width: 5%; 
      height: 20px; 
  } 
  
  #onScreen {
    border: 2px solid black;
    overflow: hidden;
  }